<section class="notes-tab">
    <div class="inventory">
        <div class="details-top flexrow flex2">
            <div class="flex3">
                <div class="item-titles flexrow">
                    <div class="item-name">{{localize 'WWN.category.fociTitle'}}</div>
                    <div class="field-short">{{localize 'WWN.details.level'}}</div>
                    <div class="item-controls">
                        {{#if owner}}
                        <a class="item-control item-create" title='{{localize "WWN.Add"}}' data-type="focus"><i
                                class="fas fa-plus"></i></a>
                        {{/if}}
                    </div>
                </div>
                <ol class="item-list" data-base-size="100">
                    {{#each owned.foci as |focus|}}
                    <li class="item-entry">
                        <div class="item flexrow" data-item-id="{{focus.id}}">
                            <div class="item-name item-rollable flexrow">
                                <div class="item-image" style="background-image: url({{img}})"></div>
                                <a>
                                    <h4 title="{{focus.name}}">
                                        {{focus.name~}}
                                    </h4>
                                </a>
                            </div>
                            <div class="field-short">
                                <input value="{{focus.data.data.ownedLevel}}" type="number" data-dtype="Number"
                                    disabled />
                            </div>
                            <div class="item-controls">
                                {{#if ../owner}}
                                <a class="item-control item-show" title='{{localize "WWN.Show"}}'><i
                                        class="fas fa-eye"></i></a>
                                <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i
                                        class="fas fa-trash"></i></a>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="languages">
                <div class="item-titles flexrow">
                    <div class="item-name">
                        {{localize "WWN.category.languages"}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-push" data-array="languages" title="{{localize 'WWN.Add'}}"><i
                                class="fa fa-plus"></i></a>
                    </div>
                </div>
                <ol class="item-list" data-base-size="80">
                    {{#each data.languages.value as |lang|}}
                    <li class="item flexrow" data-lang="{{lang}}">
                        <div class="item-name">
                            {{lang}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-pop" data-array="languages" title="{{localize 'WWN.Del'}}"><i
                                    class="fa fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div>
            <div class="description">
                <div class="item-titles">{{localize "WWN.category.description"}}</div>
                <div>
                    {{editor content=data.details.description target="data.details.description"
                    button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="notes">
                <div class="item-titles">{{localize "WWN.category.notes"}}</div>
                <div>
                    {{editor content=data.details.notes target="data.details.notes"
                    button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</section>