<section>
<div class="form-group">
  <label id="selectAttribute">{{localize 'WWN.attribute'}}</label>
  <div class="form-fields select-attribute selectAttribute">
    <select name="data.score">
      {{#select data.score}}
      {{#each config.scores as |stat a|}}
      <option value="{{a}}">{{stat}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>
<ul class="attributes-group flexrow">
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="administer">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.administer'}}">
        <a>{{ localize "WWN.skills.administer" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.administer.value" type="number" value="{{data.skills.administer.value}}"
          data-dtype="Number" />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="connect">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.connect'}}">
        <a>{{ localize "WWN.skills.connect" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.connect.value" type="number" value="{{data.skills.connect.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="convince">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.convince'}}">
        <a>{{ localize "WWN.skills.convince" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.convince.value" type="number" value="{{data.skills.convince.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="craft">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.craft'}}">
        <a>{{ localize "WWN.skills.craft" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.craft.value" type="number" value="{{data.skills.craft.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="exert">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.exert'}}">
        <a>{{ localize "WWN.skills.exert" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.exert.value" type="number" value="{{data.skills.exert.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="heal">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.heal'}}">
        <a>{{ localize "WWN.skills.heal" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.heal.value" type="number" value="{{data.skills.heal.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="know">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.know'}}">
        <a>{{ localize "WWN.skills.know" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.know.value" type="number" value="{{data.skills.know.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="lead">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.lead'}}">
        <a>{{ localize "WWN.skills.lead" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.lead.value" type="number" value="{{data.skills.lead.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="magic">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.magic'}}">
        <a>{{ localize "WWN.skills.magic" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.magic.value" type="number" value="{{data.skills.magic.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="notice">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.notice'}}">
        <a>{{ localize "WWN.skills.notice" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.notice.value" type="number" value="{{data.skills.notice.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="perform">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.perform'}}">
        <a>{{ localize "WWN.skills.perform" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.perform.value" type="number" value="{{data.skills.perform.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="pray">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.pray'}}">
        <a>{{ localize "WWN.skills.pray" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.pray.value" type="number" value="{{data.skills.pray.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="punch">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.punch'}}">
        <a>{{ localize "WWN.skills.punch" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.punch.value" type="number" value="{{data.skills.punch.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="ride">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.ride'}}">
        <a>{{ localize "WWN.skills.ride" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.ride.value" type="number" value="{{data.skills.ride.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="sail">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.sail'}}">
        <a>{{ localize "WWN.skills.sail" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.sail.value" type="number" value="{{data.skills.sail.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="shoot">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.shoot'}}">
        <a>{{ localize "WWN.skills.shoot" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.shoot.value" type="number" value="{{data.skills.shoot.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="sneak">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.sneak'}}">
        <a>{{ localize "WWN.skills.sneak" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.sneak.value" type="number" value="{{data.skills.sneak.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="stab">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.stab'}}">
        <a>{{ localize "WWN.skills.stab" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.stab.value" type="number" value="{{data.skills.stab.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="survive">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.survive'}}">
        <a>{{ localize "WWN.skills.survive" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.survive.value" type="number" value="{{data.skills.survive.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="trade">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.trade'}}">
        <a>{{ localize "WWN.skills.trade" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.trade.value" type="number" value="{{data.skills.trade.value}}" data-dtype="Number"
          />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="work">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.work'}}">
        <a>{{ localize "WWN.skills.work" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.work.value" type="number" value="{{data.skills.work.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
</ul>
{{#if config.psychicSkills}}
<div>
<ul class="attributes-group flexrow">
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="biopsionics">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.biopsionics'}}">
        <a>{{ localize "WWN.skills.biopsionics" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.biopsionics.value" type="number" value="{{data.skills.biopsionics.value}}"
          data-dtype="Number" />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="metapsionics">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.metapsionics'}}">
        <a>{{ localize "WWN.skills.metapsionics" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.metapsionics.value" type="number" value="{{data.skills.metapsionics.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="precognition">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.precognition'}}">
        <a>{{ localize "WWN.skills.precognition" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.precognition.value" type="number" value="{{data.skills.precognition.value}}"
          data-dtype="Number" />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="telekinesis">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.telekinesis'}}">
        <a>{{ localize "WWN.skills.telekinesis" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.telekinesis.value" type="number" value="{{data.skills.telekinesis.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
  <div class="attributes skills">
    <li class="attribute flexrow" data-skills="telepathy">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.telepathy'}}">
        <a>{{ localize "WWN.skills.telepathy" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.telepathy.value" type="number" value="{{data.skills.telepathy.value}}"
          data-dtype="Number" />
      </div>
    </li>
    <li class="attribute flexrow" data-skills="teleportation">
      <h4 class="attribute-name box-title" title="{{localize 'WWN.skills.desc.teleportation'}}">
        <a>{{ localize "WWN.skills.teleportation" }}</a></h4>
      <div class="attribute-value">
        <input name="data.skills.teleportation.value" type="number" value="{{data.skills.teleportation.value}}" data-dtype="Number"
          />
      </div>
    </li>
  </div>
</div>
{{/if}}
<div class="form-group flexrow">
  <div class="form-fields">
    <label id="unspentPoints"
      title="{{localize 'WWN.skills.unspentPointsHint'}}">{{localize 'WWN.skills.unspentPoints'}}</label>
    <input class="unspentPoints" name="data.skills.unspent" type="number" value="{{data.skills.unspent}}" 0
      data-dtype="Number" placeholder="0" />
  </div>
</div>
</section>